{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>{{title}}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                <div class="col-md-12">
                    <div class="single-post-big">
                        <div class="big-image">
                            <img src="{{random_post.photo.url}}" alt="">
                        </div>
                        <div class="big-text">
                            <h3><a href="{{random_post.get_absolute_url}}">{{random_post.title}}</a></h3>
                            <p>{{random_post.content|safe|truncatewords:80}}</p>
                            <h4><span class="date">{{random_post.created_at|date:'M.Y.d'}}</span><span class="author">Posted By: <span
                                    class="author-name">{{random_post.author}}</span></span>
                            </h4>
                        </div>
                    </div>
                </div>
                {% for i in posts %}
                <div class="col-md-3">
                    <div class="single-post">
                        <img src="{{i.photo.url}}" alt="">
                        <h3><a href="{{i.get_absolute_url}}">{{i.title}}</a></h3>
                        <h4><span>Posted By: <span class="author-name">{{i.author}}</span></span>
                        </h4>
                        <p>{{i.content|safe|linebreaksbr|truncatewords:40}}</p>
                        <h4><span>{{i.created_at|date:'M.Y.d'}}</span></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if page_obj.has_other_pages %}
    <div class="pegination">
        <div class="nav-links">
            {% if page_obj.has_previous %}
            <a class="page-numbers" href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"
                                                                                      aria-hidden="true"></i></a>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}

            {% if page_obj.number == i %}
            <span class="page-numbers current">{{i}}</span>
            {% elif i > page_obj.number|add:-2 and i < page_obj.number|add:2 %}
            <a class="page-numbers" href="?page{{i}}">{{i}}</a>
            {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
            <a class="page-numbers" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"
                                                                                  aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
    {% endif %}

</section>
{% endblock %}